<footer class="page-footer red accent-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <div class="row valign-wrapper">
            <div class="col s4">
              <img src="http://www.gravatar.com/avatar/6f0ca2846bbe006ad4bc12a583387c6a.png?size=200" class="circle responsive-img">
            </div>
            <div class="col s8">
              <h5 class="white-text">About Me</h5>
              <p class="grey-text text-lighten-4">
                I’m a nine year Air Force veteran and web software engineer with a passion for what makes the Internet tick. I code, I travel, I eat and I'm hungry for more!
              </p>
            </div>
          </div>
        </div>
        <div class="col l3 s12 offset-l3">
          <h5 class="white-text">Connect</h5>
          <ul class="share-buttons">
            <li><a href="//twitter.com/{{ .Site.Social.twitter }}" class="icon-twitter white-text" target="_blank" title="Twitter"></a></li>
            <li><a href="//github.com/{{ .Site.Social.github }}" class="icon-github white-text" target="_blank" title="Github"></a></li>
            <li><a href="//instagram.com/{{ .Site.Social.instagram }}" class="icon-instagram white-text" target="_blank" title="Instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 {{ .Site.Params.site_author }}
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
